* {
    box-sizing: border-box;
  }
  

  .navbar {
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    overflow: hidden;
    border-style:solid;
    border-width: 1px;
    border-color: gray;
    border-top: none;
    border-left: none;
    border-right: none;
    z-index: 9999;
    display: block;
}
.navbar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    border: solid;
    border-color: green;
    float: right;
}

.nav-link {
    padding: 14px 16px;
    display: inline-block;
}

.navbar-icons {
    height: 25px;
    max-height: 25px;
}

.main {
    border: solid;
    border-color: red;
    height: 70vh;
    width: auto;
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
h1, h2 {
    font-family: 'Ramaraja', serif;
    font-size: 60px;
    font-weight: 500;
    
}

.title h1 {
    overflow-wrap: break-word;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.call-to-action {
    padding: 80px;
    margin: auto;
}

input[type=text] {
    width: 400px;
    height: 30px;
}

.social-media {
    display: block;
    border: solid;
    border-color: yellow;
}

.facebook, .twitter, .instagram {
    display: inline-block;
    border: solid;
    border-color: blue;
}

.about-us {
    border: solid;
    border-color: red;
    height: 70vh;
    width: auto;
    background-image: url("images/pexels-elle-hughes-1660030.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
    display: block;
}

  

.about-us-description {
    position: relative;
    left: 650px;
    height: auto;
    width: 500px;
}

.about-us-description h1 {
    line-height: 1;
    margin: 0;
}
.about-us-description p {
    width: 500px;
    text-align: justify;
 }


.order-now {
    text-align: center;
    padding: 20px;
    border: solid;
}

.list-items {
    padding: 0;
    margin: 0;
    list-style: none;
}

.food-gallery {
    text-align: center;
}

.breakfast {
    margin: 5px;
    border: none;
    /* width: 350px; */
    display: inline-flex;
}

.breakfast img {
   width: 30vh;
   height: auto;
   border-radius: 8px;
   display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.openingHours {
    border: solid;
    display: block;
}

.book-opening, .phone-icon {
    text-align: center;
}

.daysOfWeek {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.video {
    text-align: center;
    padding-bottom: 50px;
}

/*//////////////////////////////////////////////
REVIEW SECTION
///////////////////////////////////////////*/

.review-section {
    border: solid;
}

.testimonial-header, .testimonial-profile, .testimonial-reviews {
    text-align: center;
}

.testimonial-profile-pic {
    height: 30%;
    width: 30%;
    clip-path: circle(35% at 50% 51%);
}

.testimonial-review-stars{
    height: 20px;
    width: 20px;
    
}