* {
    box-sizing: border-box;
  }
  

  .navbar {
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    overflow: hidden;
    /* border-style:solid; */
    border-width: 1px;
    border-color: gray;
    border-top: none;
    border-left: none;
    border-right: none;
    z-index: 9999;
    display: block;
}
.navbar-nav {
    padding: 0;
    margin: 0;
    list-style: none;

    float: right;
}

.nav-link {
    padding: 14px 16px;
    display: inline-block;
    font-family: 'PT Serif', serif;
    font-size: 14px;
}

.nav-link a {
    text-decoration: none;
}
.navbar-icons {
    height: 20px;
    max-height: 20px;
}


/*//////////////////////////////////////////////////
HERO SECTION/ MAIN TOP SECTION 
////////////////////////////////////////////////*/

.main {
    
    height: 70vh;
    width: auto;
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
h1, h2 {
    font-family: 'Ramaraja', serif;
    font-size: 60px;
    font-weight: 500;
    
}
h5 {
    color: #FF7F12;
}
h5, p {
    font-family: serif;
    font-size: 20px;
}

.title h1 {
    overflow-wrap: break-word;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.call-to-action {
    padding: 80px;
    margin: auto;
}

input[type=text] {
    width: 400px;
    height: 40px;
    border-radius: 8px;
    border: solid thin;
    padding: 10px;
}
.container {
    display: flex
  }

.location-btn {
    background-color: #FF7F12;
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    position: relative;
    left: -50px;
}
.social-media {
    display: block;
    
}

.facebook, .twitter, .instagram {
    display: inline-block;
    
    padding-right: 40px;
}
.social-media-icons {
    padding: 0;
}
.social-media-icons img {
    height: 15px;
    width: 15px;
    color: orange;
}


/*//////////////////////////////////////////////////
ABOUT US SECTION / DISCOVER US
////////////////////////////////////////////////*/
.about-us {
    
    height: 90vh;
    width: auto;
    background-image: url("images/pexels-elle-hughes-1660030.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
    display: block;
}


.about-us-description {
    position: relative;
    left: 650px;
    height: auto;
    width: 500px;
}

.about-us-description h1 {
    line-height: 1;
    margin: 0;
}
.about-us-description p {
    width: 500px;
    text-align: justify;
 }

 .discover-menu-btn {
    background-color: #FF7F12;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    padding: 14px 30px;
    border: none;
 }


 /*//////////////////////////////////////////////////
ORDER ONLINE NOW SECTION 
////////////////////////////////////////////////*/

.order-header-two {
    line-height: 0.5;
}
.order-now {
    text-align: center;
    padding: 20px;
    border: solid;
}

.list-items {
    padding: 10px;
    margin: 20px;
    list-style: none;

    border-bottom: solid thin;
 
    position: relative;
    left: 350px;
}

.food-gallery {
    text-align: center;
}

.breakfast {
    margin: 5px;
    border: none;
    /* width: 350px; */
    display: inline-flex;
}

.breakfast img {
   width: 30vh;
   height: auto;
   border-radius: 8px;
   display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*//////////////////////////////////////////////////
OPENING HOURS/ BOOKING SECTION 
////////////////////////////////////////////////*/


.openingHours {
    border: solid;
    display: block;
    padding: 20px;
}

.book-opening, .phone-icon {
    text-align: center;
    line-height: 0.5;
}

.daysOfWeek {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.video {
    text-align: center;
    padding-bottom: 50px;
}

/*//////////////////////////////////////////////
REVIEW SECTION
///////////////////////////////////////////*/

.review-section {
    border: solid;
}

.testimonial-header, .testimonial-profile {
    text-align: center;
}

.testimonial-header {
    line-height: 0.5;
}

.testimonial-reviews {
    height: 115px;
    width: 500px;
    text-align: center;
}
.testimonial-profile-pic {
    height: 30%;
    width: 30%;
    clip-path: circle(35% at 50% 51%);
}

.testimonial-review-stars{
    height: 20px;
    width: 20px;
    
}