* {
    box-sizing: border-box;
  }
  

  .navbar {
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    overflow: hidden;
    border-style:solid;
    border-width: 1px;
    border-color: gray;
    border-top: none;
    border-left: none;
    border-right: none;
    z-index: 9999;
    display: block;
}
.navbar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    border: solid;
    border-color: green;
    float: right;
}

.nav-link {
    padding: 14px 16px;
    display: inline-block;
}

.navbar-icons {
    height: 25px;
    weight: 25px;
}

.main {
    border: solid;
    border-color: red;
    height: 70vh;
    width: auto;
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.call-to-action {
    padding: 30px;
    margin: 50px;
}

.social-media {
    display: block;
    border: solid;
    border-color: yellow;
    padding: 30px;
}

.facebook, .twitter, .instagram {
    display: inline-block;
    border: solid;
    border-color: blue;
}